<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="rcp" sequenceNumber="84">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id"/>
<unit id="org.eclipse.equinox.executable.feature.group"/>
<unit id="org.eclipse.platform.sdk"/>
<unit id="org.eclipse.jdt.feature.group"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy21.feature.feature.group" />
<unit id="org.codehaus.groovy.jdt.patch.feature.group" />
<unit id="org.codehaus.groovy.headless.feature.feature.group"/>
<repository location="http://dist.springsource.org/snapshot/GRECLIPSE/e4.3/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_CH</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
